{% raw %}
<div id="initial-bids-header" class="auction-round past-round" ng-if="auction_doc.current_stage >= 0">
    <div class="row">
        <div class="col-xs-12 stage-item stage-round">
            <div class="stage-item-lining">
                <div class="stage-info">
                    <div class="stage-info-lining">
                        <span class="stage-info-item stage-label" ng-if="auction_doc.current_stage >= 0">
                            <span translate>Initial bids</span>
                        </span>
                        <span class="stage-info-item stage-label" ng-if="auction_doc.current_stage == -1" translate>
                            Bidders
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="initial-bid-{{ $index + 1 }}"
         class="row auction-stage stage-item stage-bids"
         ng-repeat="bid_info in auction_doc.initial_bids"
         ng-init="stage_obj = bid_info"
         ng-class="{
            'current-stage': auction_doc.current_stage == -1,
            'past-stage':  auction_doc.current_stage > -1,
            'my-bid-stage': bid_info.bidder_id == bidder_id
         }">
        <div class="stage-item-lining">
            <i class="stage-icon"></i>
            {% endraw %}
            {% include "auction/stage_info.html" %}
            {% raw %}
        </div>
    </div>
</div>
{% endraw %}
