{% raw %}
<div ng-if="auction_doc.current_stage >= 0"
     class="auction-round"
     id="round-header-{{ $index + 1 }}"
     ng-class="{
        'current-round': (auction_doc.current_stage >= round_stage_first_index) && (auction_doc.current_stage <= (round_stage_first_index + auction_doc.initial_bids.length)),
        'future-round': auction_doc.current_stage < (round_stage_first_index + auction_doc.initial_bids.length),
        'past-round': auction_doc.current_stage > (round_stage_first_index + auction_doc.initial_bids.length)
     }"
     ng-repeat="round_stage_first_index in Rounds">
    <div class="row">
        <div class="col-xs-12 stage-item stage-round">
            <div class="stage-item-lining">
                <div class="stage-info">
                    <div class="stage-info-lining">
                        <span class="stage-info-item stage-label">
                            <span translate>Round</span>
                            {{ $index + 1 }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stage-{{ round_stage_first_index + $index + 1 }}"
         ng-repeat="initial_bid in auction_doc.initial_bids"
         ng-init="stage_obj = auction_doc.stages[round_stage_first_index + $index + 1]"
         class="row auction-stage stage-item stage-bids"
         ng-class="{
            'current-stage': auction_doc.current_stage === round_stage_first_index + $index + 1,
            'future-stage': auction_doc.current_stage < round_stage_first_index + $index + 1,
            'past-stage': auction_doc.current_stage > round_stage_first_index + $index + 1,
            'my-bid-stage': stage_obj.bidder_id === bidder_id
         }">
        <div ng-if="$first" id="stage-{{ round_stage_first_index + $index }}"></div>
        <div class="stage-item-lining">
            <i ng-if="auction_doc.current_stage !== round_stage_first_index + $index + 1" class="stage-icon"></i>
            <div class="stage-icon-visual" ng-if="auction_doc.current_stage === round_stage_first_index + $index + 1">
                <svg class="stage-icon-svg" viewbox="0 0 48 48">
                      <svg-timer></svg-timer>
                </svg>
            </div>
            {% endraw %}
            {% include "auction/stage_info.html" %}
            {% raw %}
        </div>
    </div>
</div>
{% endraw %}
